/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  font-family: 'Roboto', Verdana;
}
/* [class*='col'] {
  background-color: pink;
  border: 1px solid red;
} */

/* REGOLE GENERALI */
.center {
  text-align: center;
}
.flex {
  display: flex;
}
h2 {
  padding: 20px 8px;
}
.radius {
  border-radius: 50%;
}
ul li {
  color: #787a7f;
}

/* MAIN */
main {
  background-color: #141922;
}
main .wrapper {
  width: 100%;
  height: calc(100vh - 100px);
}

/* Barra di navigazione */
.nav {
  background-color: black;
  width: 230px;
  height: 100%;
}
/* Sezione Nav-top */
.nav .nav-top {
  height: calc(100vh - 180px);
  overflow: hidden;
}
.nav .logo {
  padding: 10px 19px;
  width: 90%;
}
.nav .logoxs {
  padding: 10px;
  margin: 0 auto;
}
.nav .nav-home {
  padding: 10px 0;
}
.nav ul li {
  font-size: 16px;
  padding: 3px 15px;
}
.nav ul li img {
  width: 25px;
  vertical-align: middle;
}
.nav .nav-home li:first-child {
  color: white;
}
.nav .nav-home li:first-child {
  border-left: 4px solid #adff2f;
}
.nav .nav-home li:not(first-child) {
  border-left: 4px solid black;
}
.nav h3 {
  padding: 0 0 15px 19px;
}
.nav i {
  background-color: #787a7f;
  color: black;
  padding: 10px;
}
.nav .playlist {
  overflow-y: auto;
  height: 60%;
}
.nav .playlist li {
  border-left: 4px solid black;
  padding-bottom: 15px;
}
/* Sezione Nav-bottom */
.nav .nav-bottom i {
  background-color: black;
  color: white;
}
.nav .nav-bottom p:last-child {
  padding: 7px 8px;
  color: white;
}
.nav .nav-bottom img {
  width: 20px;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;
}
.nav .account {
  width: 90%;
  height: 50px;
  margin: 0 auto;
}
.nav .account hr {
  border: 0.5px solid #787a7f;
}
.nav .account p, .nav .account i {
  color: #787a7f;
}

/* Schermata principale */
.mainview {
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
}
.mainview p {
  padding: 5px 8px 20px 8px;
}
.mainview h3 {
  padding-top: 10px;
}
/* Barra Upgrade */
.content {
  position: relative;
}
.topbar {
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 230px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 10;
}
.upgrade {
  margin-right: 35px;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 20px;
}
/* Sezione album */
.album {
  margin-top: 100px;
  display: block;
  padding: 0 10px;
}
.album ul {
  padding: 10px 0;
  position: relative;
}
.album ul li {
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;
}
.album ul li:first-child:after {
  display: block;
  content: "";
  height: 2px;
  background-color: #adff2f;
  width: 40px;
  margin: 5px auto;
}
.album p {
  color: #787a7f;
}
/* Sezione Recently played */
.album .played .album-list {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.album .played .album-list .block {
  flex-basis: 16%;
  text-align: center;
  padding: 8px;
}
.block-image {
  position: relative;
  font-size: 0;
}
.block-image img{
  width: 100%;
}

/* FOOTER */
/* Regole generali */
footer {
  height: 100px;
  background-color: #282828;
  position: sticky;
  z-index: 15;
}
.player {
  justify-content: space-between;
}
.player .element {
  flex-basis: 10%;
  height: 100px;
}
/* Elemento left player */
.player-image {
  height: 100px;
  padding: 15px;
}
.player-image img {
  height: 100%;
}
.player .element.left {
  align-items: center;
  flex-grow: 1;
}
.player .element.left ul {
  padding-right: 20px;
}
.player .element.left li:first-child {
  color: white;
  font-weight: bold;
}
.player .element.left i {
  color: #787a7f;
}
.player .element.right i,
.player .element.left i {
  padding: 0 5px;
}
/* Elemento middle player */
.player .element.middle {
  flex-basis: 30%;
}
.player .element.middle {
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
}
.player-bar .progress-bar {
  display: inline-block;
  background-color: #5a5a5a;
  height: 4px;
  width: calc(100% - 80px);
  vertical-align: middle;
  border-radius: 15px;
  margin: 0 5px;
}
.player-bar .progress-bar-short {
  display: block;
  background-color: #c1c1c1;
  height: 4px;
  width: 25%;
  border-radius: 15px;
}
.player-bar .progress-bar-short:after {
  content: '';
  display: block;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 100%;
  position: relative;
  top: -5px;
  display: none;
}
.player-button {
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.player-button i {
  padding: 0 15px;
}
.player-button i:nth-child(3) {
  font-size: 30px;
}
/* Elemento right player */
.player .element.right {
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.volume {
  display: inline-block;
  background-color: #5a5a5a;
  height: 4px;
  width: 30%;
  vertical-align: middle;
  border-radius: 15px;
  margin: 0 5px;
}
.volume-actual {
  display: block;
  background-color: #c1c1c1;
  height: 4px;
  width: 25%;
  border-radius: 15px;
}
.volume-actual:after {
  content: '';
  display: block;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 100%;
  position: relative;
  top: -5px;
  display: none;
}

/* Hover */
ul li:hover {
  color: white;
  cursor: pointer;
}
i:hover {
  cursor: pointer;
}
/* Sezione hover nav */
.nav .playlist li:first-child:hover i {
  background-color: white;
}
.account p:hover {
  color: white;
  cursor: pointer;
}
/* Sezione hover schermata principale */
.upgrade:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.darken {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.darken i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
}
.block:hover .darken {
  display: block;
  cursor: pointer;
}
/* Sezione hover footer */
.player .element.left li:last-child:hover {
  text-decoration: underline;
}
.player .element.left i:hover {
  color: white;
}
.player-bar .progress-bar-short:hover {
  background-color: #adff2f;
  cursor: pointer;
}
.player-bar .progress-bar-short:hover:after {
  display: block;
}
.volume .volume-actual:hover {
  background-color: #adff2f;
  cursor: pointer;
}
.volume .volume-actual:hover:after {
  display: block;
}
.player-button i:nth-child(3):hover {
  transform: scale(1.3);
}

/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  .hidden-xs {
    display: none;
  }
  .nav {
    background-color: black;
    width: 60px;
    height: 100%;
  }
  .mainview {
    width: calc(100% - 60px);
  }
  .topbar {
    width: calc(100% - 60px);
  }
  .album .played .album-list .block {
    flex-basis: 50%;
  }
  .player-image {
    height: 70px;
    padding: 5px;
  }
  .element.left {
    font-size: 12px;
  }
  .player-button i {
    padding: 0 5px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
  .album .played .album-list.flex .block {
    flex-basis: 50%;
  }
  .player-button i {
    padding: 0 10px;
  }
  .player-image {
    height: 70px;
    padding: 5px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .hidden-md {
    display: none;
  }
  .album .played .album-list.flex .block {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 993px) {
  .hidden-lg {
    display: none;
  }
}
